-- CreateEnum
CREATE TYPE "LeadDispatchType" AS ENUM ('Current', 'Scheduled');

-- CreateTable
CREATE TABLE "lead" (
    "id" SERIAL NOT NULL,
    "vendor_id" INTEGER NOT NULL,
    "vehicle_id" INTEGER NOT NULL,
    "sub_service_id" INTEGER NOT NULL,
    "dispatch_type" "LeadDispatchType" NOT NULL DEFAULT 'Current',
    "activation_time" TIMESTAMP(3),
    "start_location" TEXT NOT NULL,
    "end_location" TEXT NOT NULL,
    "distance" VARCHAR(50),
    "time" VARCHAR(50),
    "lead_amount" DOUBLE PRECISION NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lead_tag_location" (
    "id" SERIAL NOT NULL,
    "lead_id" INTEGER NOT NULL,
    "address" TEXT NOT NULL,
    "order" INTEGER NOT NULL DEFAULT 1,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "lead_tag_location_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "lead_vendor_id_idx" ON "lead"("vendor_id");

-- CreateIndex
CREATE INDEX "lead_vehicle_id_idx" ON "lead"("vehicle_id");

-- CreateIndex
CREATE INDEX "lead_sub_service_id_idx" ON "lead"("sub_service_id");

-- CreateIndex
CREATE INDEX "lead_tag_location_lead_id_idx" ON "lead_tag_location"("lead_id");

